name: CD of project

on:
    push:
        branches:
            - main

jobs:
    deploy:
        name: Deploye app to EC2
        runs-on: ubuntu-latest

        steps:
            # checkout the code
            - name: checkout code
              uses: actions/checkout@v2

            - name: set up docker buildx
              uses: docker/setup-buildx-action@v2

            - name: Log in to docker hub
              uses: docker/login-action@v2
              with:
                username: ${{secrets.DOCKER_USERNAME}}
                password: ${{secrets.DOCKER_PASSWORD}}
            
            # build and push Docker image
            - name: build and push docker image
              uses: docker/build-push-action@v5
              with:
                context: .
                file: ./Dockerfile
                push: true
                tags: ${{secrets.DOCKER_USERNAME}}/ci-cd-tutorial:latest
            
            # deploy to EC2 via SSH
            - name: Deploy Docker image to EC2
              uses: appleboy/ssh-action@v0.1.6
              with:
                host: ${{secrets.EC2_HOTS}}
                username: ${{secrets.EC2_USER}}
                key: ${{secrets.EC2_SSH_KEY}}
                port: 22
                scripts:
                    sudo docker pull ${{secrets.DOCKER_USERNAME}}/ci-cd-tutorial:latest
                    sudo docker stop ci-cd-tutorial || true
                    sudo docker rm ci-cd-tutorial || true
                    sudo docker run -d --name ci-cd-tutorial -p 8000:8000 ${{secrets.DOCKER_USERNAME}}/ci-cd-tutorial:latest


            